:root {
    --red: #e84118;
    --green: #2ecc71;
    --blue: #014aff;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    place-items: center;
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

h1, h2 {
    text-align: center;
}

ul li {
    list-style: none;
}
.color-label {
    font-weight: heavy;
    -webkit-transition: color 1s;
    transition: color 1s;
}
#color-label-red:hover {
    color: var(--red);
}
#color-label-green:hover {
    color: var(--green);
}
#color-label-blue:hover {
    color: var(--blue);
}

.button-container {
    flex-direction: column;
}

.color-button {
    display: block;
    position: relative;
    height: 100px;
    width: 300px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 0 auto 20px;
    border-radius: 16px;
    cursor: pointer;
  }
  

#color-button-red {
    background-color: var(--red);
}
#color-button-green {
    background-color: var(--green);
}
#color-button-blue {
    background-color: var(--blue);
}



