<!DOCTYPE html>

<html>
    <head>
        <title>Click farming node: {{ .Name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="images/favicon.ico">
        <link rel="stylesheet" href="static/styles.css">
        <script src="static/script.js"></script>

    </head>

    <body>

        <div class="grid-container">
            <div class="grid-item">
                <h1>Click farming node: {{ .Name  }}</h1>
                <h2>Current click counts:<h2>
               
                <div class="current-clicks"> 
                    {{ range $color := .Colors }}
                    <div class="color-label" id="color-label-{{ $color }}">{{ $color }}: 0</div>
                    {{ end }}
                </div>
            </div>

            <div class="grid-item">
                <h2>Help us farm more clicks!<h2>
                <div class = button-container>
                    {{ range $color := .Colors }}
                    <button class="color-button" id="color-button-{{ $color }}" onclick="colorClicked('{{ $color  }}')" {{ $color }}> {{ $color }} </button>
                    {{ end }}
                </div>   
            </div>
        </div>

    </body>
